*{
  width: 0 auto;
}

body{
  background-color: #E5E9F2;
}
.cabecera{
  width: 100%;
  height: 80px;
  background-color:   #E5E9F2;
  /*FF62B1;*/
}
.titulo{
  float: center;
  text-align: center;
  color: #47525E;
  /*font-size: 2em;*/
}
.menu{
  clear: all;
  float: right;
  color: #47525E;
}

.menu ul {
  list-style: none;
}
.menu ul li{
  display: inline-block;
  padding: 5px;
}


.eventos{
  position: fixed;
  width: 35%;
  height: 100%;
  right:0;
  background-color: #47525E;
  color: white;
  padding: 6px;
}
.eventos a{
  color: white;
}
.detalles{
  position: fixed;
  width: 65%;
  height: 100%;
  left:0;
  padding: 6px;
  overflow-y: scroll;

}

.closenews{
  float: right;
}
footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
  background-color: black;
}
